.wp-block-create-block-profile-cards {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;

	 .profile-card {
		height: 400px;
		width: 300px;
		padding: 20px;

		&.align-left{
			text-align: left;
		}
		&.align-center{
			text-align: center;
		}
		&.align-right{
			text-align: right;
		}
	
		&.has-shadow{
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.338);
		}

		> img {
			width: 100px;
			height: 100px;
			border-radius: 100px;
			
		}
	}
}
