.wp-block-create-block-profile-cards {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;

	 .profile-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		overflow: hidden;
		box-sizing: border-box;

		&.align-left{
			align-items: flex-start;
		}
		&.align-center{
			align-items: center;
			>p{
				text-align: center;
			}
		}
		&.align-right{
			align-items: flex-end;
		}
	
		&.has-shadow{
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.338);
		}

		>img {
			object-fit: cover ;
			object-position: center top;
		}
		>h4{
			margin: 0;
			padding: 0;
		}
		> p {
			margin: 0;
			padding: 0;
		}
		> ul {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			padding: 0;
			margin: 0;
			>li{
				list-style: none;
				cursor: pointer;
				>a{
					text-decoration: none;
				}
			}
		}
	}
}
